/*Add padding and margin to space out the page.
Make the font larger too.*/

div{
	min-height: 100px;
	padding: 20px;
	border: 3px solid #FFFFFF;
}

.red{
	background-color: #FFCCCB;
	text-align: right;
	margin-left: 50px;
	border: 0 0 3px 10px;
}

.blue{
	background-color: #ADD8E6;
	text-align: left;
	margin-right: 50px;
	border: 0 10px 3px 0;
}


body{
	margin:1%;
	padding:1%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 25px 25px 0px 25px;
}

p{
	font-size: 24px;
	padding: 0 0 15px 15px;
}

span{
	text-decoration: underline;
	text-transform: uppercase;
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 48px;
	color: #0000FF;
	padding: 15px;
	font-weight: bold;
}

.active{
	background: white;
    text-transform: uppercase;
	text-align: center;
}

.active a{
	text-decoration: none;;
}

/*Style the images*/
img{
    width: 350px;
	border: 10px dashed #000000;
}

/*Make the h2 heading match h1*/
h2{
	font-size: 32px;
	font-weight: bold;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
}

/*Add borders around the main components and some
space too*/
header, nav, main, footer{

}


/*Change the styling for all of the list
items in the nav section*/
nav li{
	background-color: none;
	padding:10px;
	width:25%;
	border:none;
	display: inline-block;
	width: 20%;
}

/*Added this so the links stay the same color*/
a:visited{color:#0000FF}

footer{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}